@charset "UTF-8";

/* qna detail 디자인 */


#qna_detail {
	width: 800px;
	margin: 0 auto;
}

table {
	border: none;
	border-collapse: collapse;
	color: #282828;
	font-size: 1.1em;
	margin: 50 px;
}

th, td {
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	padding: 15px;
}

th {
	width: 150px;
	background-color: #f7f5f8;
}

td {
	width: 650px;
}

.subject, .content {
	text-align: left;
}

.content {
	height: 100px;
	vertical-align: middle;
}

#qna_menu {
	text-align: right;
	margin: 5px;
}


   
 .qnaDetailBtn {
	width: 80px; height: 40px;
    border: none;
    font-weight: 600;
    background-color: #FF5833;
    color: white;
    font-size: 1em;
	margin-top: 10px;
	border-radius: 5px;
 }  
 
 .answer_table {
	 height: 200px;
	 padding: 10px;
	 text-align: center; 
	 font-size: 25px;
	 
}

.answer_div {
	padding-left: 0px;
	padding-right: auto;
	align-content:center;
	padding-bottom: 100px;
}

.answer_div_if {
	padding-left: 180px;
	padding-right: auto;
	align-content:center;
	padding-bottom: 100px;
}
